{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="h-screen py-10 bg-cover">
    <div class="mx-36">
        <div class="text-center">
            <h4 class="animate-fadeInExtraLong mb-1 text-sm text-custom-50 uppercase font-semibold">What we do</h4>
            <h2 class="animate-fadeInExtraLong mb-8 text-2xl md:text-3xl xl:text-4xl font-bold">Features</h2>
        </div>
        <div class="grid grid-cols-3 gap-5">
            <div class="w-full">
                <div class="px-8 py-12 h-full text-center bg-white border border-gray-200 rounded-2xl shadow-sm">
                    <img src="{% static 'images/hotel.png' %}" class="mb-4">
                    <h3 class="mb-3 text-xl font-bold font-heading leading-snug">Browse destinations</h3>
                    <p>info@mail.com</p>
                </div>
            </div>
            <div class="w-full">
                <div class="px-8 py-12 h-full text-center bg-white border border-gray-200 rounded-2xl shadow-sm">
                    <img src="{% static 'images/hotel.png' %}" class="mb-4">
                    <h3 class="mb-3 text-xl font-bold font-heading leading-snug">Browse destinations</h3>
                    <p>info@mail.com</p>
                </div>
            </div>
            <div class="w-full">
                <div class="px-8 py-12 h-full text-center bg-white border border-gray-200 rounded-2xl shadow-sm">
                    <img src="{% static 'images/hotel.png' %}" class="mb-4">
                    <h3 class="mb-3 text-xl font-bold font-heading leading-snug">Browse destinations</h3>
                    <p>info@mail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}