{% extends "../base.html" %}
{% load static %}
{% block content %}

<body class="bg-gray-100">
    <div style="background-image: url('../../static/images/isostation.png');" class="bg-cover flex flex-col items-center justify-center h-screen">
        <a href="/" class="flex items-center mb-2">
            <img class="h-16" src="{% static 'images/logo.png' %}">
        </a>
        <h1 class="text-xl font-normal font-serif text-black mb-4">
            Create a RailWizard account
        </h1>
        <div class="w-full bg-white rounded-lg shadow-lg max-w-xs sm:max-w-sm">
            <div class="p-7">
                <form method="post">
                    {% csrf_token %}
                    <div class="flex">
                        <div class="w-1/2 mr-1">
                        <input placeholder="{{ form.first_name.label }}" type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" required="" class="form-control{% if form.first_name.errors %} is-invalid{% endif %} font-serif bg-gray-100 border border-gray-300 text-black text-sm rounded-lg block w-full p-2 mb-4" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                        </div>
                        <div class="w-1/2 ml-1">
                        <input placeholder="{{ form.last_name.label }}" type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" required="" class="form-control{% if form.last_name.errors %} is-invalid{% endif %} font-serif bg-gray-100 border border-gray-300 text-black text-sm rounded-lg block w-full p-2 mb-4" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                        </div>
                    </div>
                    <div>
                        <input placeholder="{{ form.username.label }}" type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" required="" class="form-control{% if form.username.errors %} is-invalid{% endif %} font-serif bg-gray-100 border border-gray-300 text-black text-sm rounded-lg block w-full p-2 mb-4" value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                    </div>
                    <div>
                        <input placeholder="{{ form.email.label }}" type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" required="" class="form-control{% if form.email.errors %} is-invalid{% endif %} font-serif bg-gray-100 border border-gray-300 text-black text-sm rounded-lg block w-full p-2 mb-4" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                    </div>
                    <div>
                        <input placeholder="{{ form.password1.label }}" type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" required="" class="form-control{% if form.password1.errors %} is-invalid{% endif %} font-serif bg-gray-100 border border-gray-300 text-black text-sm rounded-lg block w-full p-2 mb-4" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}">
                    </div>
                    <button type="submit" class="font-serif w-full text-white bg-custom-50 hover:bg-custom-100 font-medium rounded-lg text-sm px-5 py-2 text-center mb-4">Sign in</button>
                    <div class="flex items-center mb-4 font-serif">
                        <div class="flex-grow border-t border-gray-500"></div>
                        <span class="mx-5 text-sm font-light flex-shrink text-gray-500">Or</span>
                        <div class="flex-grow border-t border-gray-500"></div>
                    </div>
                    <p class="text-sm font-light text-gray-500 text-center font-serif">
                        Already have an account? <a href="/signin" class="font-medium text-custom-50 hover:underline hover:text-custom-100">Sign in</a>
                    </p>
                </form>
            </div>
        </div>
        <p class="text-xs text-gray-400 text-center mt-4 font-serif">Background Image by MacroVector on FreePik</p>
    </div>
</body>

{% endblock %}