@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar details - not possible using tailwind */
::-webkit-scrollbar {
    width: 8px;
}
/* Same as background colour - bg-gray-50 */
::-webkit-scrollbar-track {
    background: #F9FAFB; 
}
/* Grey hex */
::-webkit-scrollbar-thumb {
    background: #808080; 
}
/* Dark grey hex */
::-webkit-scrollbar-thumb:hover {
    background: #5A5A5A; 
}