{% extends "popup.html" %}
{% load static %}
{% block mainbody %}

    <div class="grid grid-cols-1 md:grid-cols-7 gap-5 mb-5">
        <div id="map_section" hx-get="{% url 'full_map' %}" hx-trigger="load" class="md:col-span-4 w-full" name="summarymap">
            <!-- Map inserted here -->
        </div>
        <div class="md:col-span-3">
            <h1 class="mb-2.5 text-center md:text-left font-semibold">Recommended for you:</h1>
            {% for similarity, city in recommended %}
                <div class="flex items-center">
                    <img src="https://flagcdn.com/h240/{{ city.country.alpha2code }}.png" class="h-3 w-3 mr-2.5">
                    <button hx-get="{% url 'find_cities' %}?country={{city.country.id}}" hx-trigger="click" hx-target="#cities" _="on click wait 0.2s then set #country_box's value to '{{city.country.pk}}'
                    set #city_box's value to '{{city.pk}}' remove @disabled from #city_box"
                    class="hover:underline hover:text-custom-50 hover:cursor-pointer">{{forloop.counter}}. {{city.name}}</button>
                </div>
            {% endfor %}
        </div>
    </div>

    <form class="flex flex-col" hx-post="" hx-target="body">
        {% csrf_token %}
        <!-- Invisible field identify which form -->
        <input type="hidden" name="add_destination_form" value="1">
        <!-- Invisble field to identify next order -->
        <input type="hidden" name="next_order" value="{{next_order}}">
        <select id="country_box" name="country" hx-get="{% url 'find_cities' %}" hx-trigger="change" hx-target="#cities" class="w-full text-center focus:outline-none bg-gray-50 border border-gray-300 text-black text-sm rounded-lg block p-2 mb-5">
            <option disabled selected>--- Select a country ---</option>
            {% for country in countries%}
                <option value="{{country.pk}}">{{country.name}}</option>
            {% endfor %}
        </select>
        <div id="cities">
            <select id="city_box" disabled name="city" class="focus:outline-none w-full text-center bg-gray-50 border border-gray-300 text-black text-sm rounded-lg block p-2 mb-5">
                <option>--- Select a city ---</option>
                {% for city in cities %}
                    <option value="{{city.pk}}">{{city.name}}</option>
                {% endfor %}
            </select>
        </div>
        <input id="nights_box" type="number" placeholder="Number of nights" id="nights" name="nights" min="1" class="w-full text-center focus:outline-none bg-gray-50 border border-gray-300 text-black text-sm rounded-lg block p-2 mb-5">
        {% if inbound_flight %}
            <p class="text-sm font-light text-red-600 text-center mb-5">
                Warning: Adding a new destination will require your inbound flights to be reconfigured.
            </p>
        {% endif %}
        <div class="flex justify-center">
            <button type="submit" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300"
            _="on change from #country_box
            if #country_box's value is '--- Select a country ---' or #city_box's value is '--- Select a city ---' or #nights_box's value is empty
                add @disabled then exit
            end
            remove @disabled
            on change from #city_box
            if #country_box's value is '--- Select a country ---' or #city_box's value is '--- Select a city ---' or #nights_box's value is empty
                add @disabled then exit
            end
            remove @disabled
            on change from #nights_box
            if #country_box's value is '--- Select a country ---' or #city_box's value is '--- Select a city ---' or #nights_box's value is empty
                add @disabled then exit
            end
            remove @disabled" disabled>
                Save
                <span class="ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                    </svg>
                </span>
            </button>
        </div>
    </form>

{% endblock %}