{% extends "popup.html" %}
{% load static %}
{% block mainbody %}

    <form hx-post="" hx-target="body">
        {% csrf_token %}
        <!-- Invisible field identify which form -->
        <input type="hidden" name="add_trip_form" value="1">
        <div id="step-1" class="flex flex-col items-center justify-center">
            <input type="text" autocomplete="off" id="triptitle" name="triptitle" maxlength="25" class="w-full lg:w-2/3 text-center bg-gray-50 border border-gray-300 text-black text-sm rounded-lg block p-2 mb-4 focus:outline-none" placeholder="Trip Name (Max 25 characters)">
            <input type="date" min="{{tomorrow}}" id="start_date" name="start_date" class="w-full lg:w-2/3 text-center bg-gray-50 border border-gray-300 text-black text-sm rounded-lg block p-2 mb-4 focus:outline-none" />
            <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
            _="on keyup from #triptitle
                    if #triptitle's value is empty or #start_date's value is empty or #start_date's value as a Date is less than '{{tomorrow}}' as a Date
                        add @disabled then exit
                    end
                    remove @disabled
                    on change from #start_date
                    if #triptitle's value is empty or #start_date's value is empty or #start_date's value as a Date is less than '{{tomorrow}}' as a Date
                        add @disabled then exit
                    end
                    remove @disabled
                    on click toggle the *display of #step-2
                    on click toggle the *display of #step-1" disabled>
                Next
                <span class="ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </span>
            </button>
        </div>
        <div id="step-2" class="flex flex-col items-center justify-center" style="display: none;">
            <h1 class="p-2 mb-4 font-semibold">What are your thoughts on long journeys?</h1>
            <div class="flex flex-row w-full lg:w-3/4 justify-between items-center">
                <img class="h-16 w-16 mr-1 lg:mr-3" src="{% static 'images/daytrain.png' %}">
                <input id="journeytime" name="journeytime" class="w-full h-2 bg-gray-200 rounded-lg appearance-none hover:cursor-pointer" type="range" min="1" max="100" step="0.1" value="50"
                _="on change
                get the (value of the me) as a Float
                if it is less than 20
                    put 'I only wish to travel short journeys' into #journey-detail
                else if it is greater than 20 and it is less than 40
                    put 'I would rather travel as many short journeys as possible' into #journey-detail
                else if it is greater than 40 and it is less than 60
                    put 'I have no preference between short and long journeys' into #journey-detail
                else if it is greater than 60 and it is less than 80
                    put 'I would like to travel long journeys where possible' into #journey-detail
                else
                    put 'I wish to travel only long journeys' into #journey-detail
                ">
                <img class="h-16 w-16 ml-1 lg:mr-3" src="{% static 'images/sleeptrain.png' %}">
            </div>
            <h1 id="journey-detail" class="p-2 mb-4 text-sm">
                I have no preference between short and long journeys
            </h1>
            <div class="w-1/2 lg:w-1/3 grid grid-cols-2 gap-x-2 ">
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-2 on click toggle the *display of #step-1">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </span>
                    Back
                </button>
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-3 on click toggle the *display of #step-2">
                    Next
                    <span class="ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <div id="step-3" class="flex flex-col items-center justify-center" style="display: none;">
            <h1 class="p-2 mb-4 font-semibold">How high is your daily budget?</h1>
            <div class="flex flex-row mb-4 w-full lg:w-3/4 justify-between">
                <img class="h-16 w-16 mr-1 lg:mr-3" src="{% static 'images/lowbudget.png' %}">
                <input id="budget" name="budget" class="w-full" type="range" min="1" max="100" step="0.1" value="50"
                _="on change
                get the (value of the me) as a Float
                if it is less than 20
                    put 'I have a very tight budget' into #budget-detail
                else if it is greater than 20 and it is less than 40
                    put 'I would like to save money where possible' into #budget-detail
                else if it is greater than 40 and it is less than 60
                    put 'My budget allows for a mixture of low-high cost destinations' into #budget-detail
                else if it is greater than 60 and it is less than 80
                    put 'I have very few budget restrictions' into #budget-detail
                else
                    put 'I have no budget restrictions' into #budget-detail
                ">
                <img class="h-16 w-16 ml-1 lg:ml-3" src="{% static 'images/highbudget.png' %}">
            </div>
            <h1 id="budget-detail" class="mb-4 text-sm">
                My budget allows for a mixture of low-high cost destinations
            </h1>
            <div class="w-1/2 lg:w-1/3 grid grid-cols-2 gap-x-2 ">
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-3 on click toggle the *display of #step-2">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </span>
                    Back
                </button>
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-4 on click toggle the *display of #step-3">
                    Next
                    <span class="ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <div id="step-4" class="flex flex-col items-center justify-center" style="display: none;">
            <h1 class="p-2 mb-4 font-semibold">How important is nightlife?</h1>
            <div class="flex flex-row mb-4 w-full lg:w-3/4 justify-between">
                <img class="h-16 w-16 mr-1 lg:mr-3" src="{% static 'images/earlynight.png' %}">
                <input id="nightlife" name="nightlife" class="w-full" type="range" min="1" max="100" step="0.1" value="50"
                _="on change
                get the (value of the me) as a Float
                if it is less than 20
                    put 'I hate nightlife' into #nightlife-detail
                else if it is greater than 20 and it is less than 40
                    put 'I usually prefer to go to bed early' into #nightlife-detail
                else if it is greater than 40 and it is less than 60
                    put 'I prefer a mixture of nightlife and relaxation' into #nightlife-detail
                else if it is greater than 60 and it is less than 80
                    put 'I would like to sleep well but love a night out' into #nightlife-detail
                else
                    put 'Nightlife is my number one priority' into #nightlife-detail
                ">
                <img class="h-16 w-16 ml-1 lg:ml-3" src="{% static 'images/nightlife.png' %}">
            </div>
            <h1 id="nightlife-detail" class="mb-4 text-sm">
                I prefer a mixture of nightlife and relaxation
            </h1>
            <div class="w-1/2 lg:w-1/3 grid grid-cols-2 gap-x-2 ">
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-4 on click toggle the *display of #step-3">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </span>
                    Back
                </button>
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-5 on click toggle the *display of #step-4">
                    Next
                    <span class="ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <div id="step-5" class="flex flex-col items-center justify-center" style="display: none;">
            <h1 class="p-2 mb-4 font-semibold">Do you prefer hot or cold weather?</h1>
            <div class="flex flex-row mb-4 w-full lg:w-3/4 justify-between">
                <img class="h-16 w-16 mr-1 lg:mr-3" src="{% static 'images/skiing.png' %}">
                <input id="climate" name="climate" class="w-full" type="range" min="1" max="100" step="0.1" value="50"
                _="on change
                get the (value of the me) as a Float
                if it is less than 20
                    put 'I need exclusively cold weather' into #climate-detail
                else if it is greater than 20 and it is less than 40
                    put 'I would rather have only cold weather' into #climate-detail
                else if it is greater than 40 and it is less than 60
                    put 'I like a mixture of hot and cold weather' into #climate-detail
                else if it is greater than 60 and it is less than 80
                    put 'I would rather have only hot weather' into #climate-detail
                else
                    put 'I need exclusively hot weather' into #climate-detail
                ">
                <img class="h-16 w-16 ml-1 lg:ml-3" src="{% static 'images/sun.png' %}">
            </div>
            <h1 id="climate-detail" class="mb-4 text-sm">
                I like a mixture of hot and cold weather
            </h1>
            <div class="w-1/2 lg:w-1/3 grid grid-cols-2 gap-x-2 ">
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-5 on click toggle the *display of #step-4">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </span>
                    Back
                </button>
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-5 on click toggle the *display of #step-6">
                    Next
                    <span class="ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <div id="step-6" class="flex flex-col items-center justify-center" style="display: none;">
            <h1 class="p-2 mb-4 font-semibold">Do you want lots of tourist attractions?</h1>
            <div class="flex flex-row mb-4 w-full lg:w-3/4 justify-between">
                <img class="h-16 w-16 mr-1 lg:mr-3" src="{% static 'images/beach_bar.png' %}">
                <input id="tourism" name="tourism" class="w-full" type="range" min="1" max="100" step="0.1" value="50"
                _="on change
                get the (value of the me) as a Float
                if it is less than 20
                    put 'I want to relax only' into #tourism-detail
                else if it is greater than 20 and it is less than 40
                    put 'I want to relax more than visit tourist attractions' into #tourism-detail
                else if it is greater than 40 and it is less than 60
                    put 'I would like a mixture of relaxation and tourist attractions' into #tourism-detail
                else if it is greater than 60 and it is less than 80
                    put 'I would like to see as many tourist attractions as possible' into #tourism-detail
                else
                    put 'I want to see all there is to see, no time to relax' into #tourism-detail
                ">
                <img class="h-16 w-16 ml-1 lg:ml-3" src="{% static 'images/tourist_attraction.png' %}">
            </div>
            <h1 id="tourism-detail" class="mb-4 text-sm">
                I would like a mixture of relaxation and tourist attractions
            </h1>
            <div class="w-1/2 lg:w-1/3 grid grid-cols-2 gap-x-2 ">
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-6 on click toggle the *display of #step-5">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </span>
                    Back
                </button>
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-7 on click toggle the *display of #step-6">
                    Next
                    <span class="ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <div id="step-7" class="flex flex-col items-center justify-center" style="display: none;">
            <h1 class="p-2 mb-4 font-semibold">How important is food culture?</h1>
            <div class="flex flex-row mb-4 w-full lg:w-3/4 justify-between">
                <img class="h-16 w-16 mr-1 lg:mr-3" src="{% static 'images/fast_food.png' %}">
                <input id="food" name="food" class="w-full" type="range" min="1" max="100" step="0.1" value="50"
                _="on change
                get the (value of the me) as a Float
                if it is less than 20
                    put 'I do not want to try local cuisine' into #food-detail
                else if it is greater than 20 and it is less than 40
                    put 'I will not seek new foods to try' into #food-detail
                else if it is greater than 40 and it is less than 60
                    put 'I have no preference towards food culture' into #food-detail
                else if it is greater than 60 and it is less than 80
                    put 'I would prefer to try new foods instead of fast food' into #food-detail
                else
                    put 'I want to visit the best food cities in the world' into #food-detail
                ">
                <img class="h-16 w-16 ml-1 lg:ml-3" src="{% static 'images/nice_food.png' %}">
            </div>
            <h1 id="food-detail" class="mb-4 text-sm">
                I have no preference towards food culture
            </h1>
            <div class="w-1/2 lg:w-1/3 grid grid-cols-2 gap-x-2 ">
                <button type="button" class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300" 
                _="on click toggle the *display of #step-7 on click toggle the *display of #step-6">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </span>
                    Back
                </button>
                <button class="disabled:opacity-25 flex items-center justify-center text-center text-white bg-custom-50 enabled:hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300">
                    Create
                    <span class="ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </form>
{% endblock %}