<!-- 
    URL: credits
    View: credits()
    Description: View only page for web application credits. URL links provided to given resourses (clicking
    opens in a new tab).
 -->

{% extends "base.html" %}
{% load static %}
{% block content %}
  
<body class="bg-gray-50">
    <div style="background-image: url('../../static/images/isostation.png');" class="bg-cover flex flex-col items-center justify-center h-screen">
        <a href="/" class="flex items-center mb-2">
            <img class="h-12" src="{% static 'images/logo.png' %}">
        </a>
        <h1 class="text-base font-semibold  text-black mb-4">
            Credits
        </h1>
        <div class="w-3/4 md:w-1/2 bg-white rounded-lg shadow flex justify-center">
            <div class="p-7">
                <p class="text-sm font-bold text-black">Icon Library: <a target="_blank" class="font-light hover:underline hover:text-custom-50" href="https://icons.getbootstrap.com/">https://icons.getbootstrap.com/</a></p>
                <p class="text-sm font-bold text-black">Graphics/Vectors: <a target="_blank" class="font-light hover:underline hover:text-custom-50" href="https://www.freepik.com/author/macrovector">https://www.freepik.com/author/macrovector</a></p>
                <p class="text-sm font-bold text-black">City Stock Images: <a target="_blank" class="font-light hover:underline hover:text-custom-50" href="https://unsplash.com/">https://unsplash.com/</a></p>
                <p class="text-sm font-bold text-black">Flag Images: <a target="_blank" class="font-light hover:underline hover:text-custom-50" href="https://flagpedia.net/">https://flagpedia.net/</a></p>
                <p class="text-sm font-bold text-black">Flights and Hotels: <a target="_blank" class="font-light hover:underline hover:text-custom-50" href="https://www.skyscanner.net/">https://www.skyscanner.net/</a></p>
            </div>
        </div>
        <p class="text-xs text-gray-400 text-center mt-4">Background Image by MacroVector on FreePik</p>
    </div>
</body>

{% endblock %}