<section class="h-auto py-10">
    <div class="mx-36">
        <div class="text-center max-w-lg mx-auto">
            <h2 class="mb-5 text-3xl md:text-4xl xl:text-5xl font-bold font-heading text-center">Collaborate efficiently with the teams today</h2>
            <p class="mb-7 text-lg text-gray-600 font-medium">Amet minim mollit non deserunt ullamco.</p>
            <div class="mb-8 md:inline-block">
                <button class="py-4 px-6 w-full text-white font-semibold rounded-xl shadow-4xl focus:ring focus:ring-indigo-300 bg-custom-50 hover:bg-custom-100 transition ease-in-out duration-300" type="button">Join Free for 30 Days</button>
            </div>
            <div class="flex flex-wrap items-center justify-center -m-1">
                <div class="w-auto p-1">
                    <p class="text-gray-600 font-medium">
                        <span>Join</span>
                        <span class="font-bold">250+</span>
                        <span>other startup founders</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>