{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="bg-white">

    <section class="h-screen flex flex-col mx-10 sm:mx-16 md:mx-24 lg:mx-32">
        <nav class="h-16">
            <div class="flex justify-between items-center h-16">
                <!-- Logo -->
                <img class="mr-7 h-7 w-auto hover:-rotate-12 hover:cursor-pointer" src="{% static 'images/logo.png' %}">
                <button hx-get="{% url 'signin' %}" hx-target="body" hx-push-url="true" class="flex items-center text-center border border-custom-50 text-custom-50 bg-white hover:text-white hover:bg-custom-50 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300 mr-3">
                    Sign in
                    <span class="ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </nav>
        <div class="flex-grow flex-col flex items-center justify-center">
            <div class="grid grid-cols-1 md:grid-cols-7 gap-16">
                <div class="col-span-3">
                    <h1 class="animate-fadeInLong text-3xl md:text-4xl xl:text-5xl font-bold mb-10">Interrail planning made easier</h1>
                    <p class="mb-10 text-lg text-gray-900">Get the best-in-class group mentoring plans and professional benefits for your team</p>
                    <div class="flex flex-row">
                        <button hx-get="{% url 'register' %}" hx-target="body" hx-push-url="true" class="animate-slideInLeft flex items-center text-center text-white bg-custom-50 hover:bg-custom-100 font-medium rounded-full text-sm p-3 transition ease-in-out duration-300 mr-3">
                            Join Now
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                </svg>
                            </span>
                        </button>
                        <button _="on click go to the top of #faqs smoothly" class="animate-slideInRight flex items-center text-center text-custom-50 bg-white hover:text-custom-100 font-medium rounded-full text-sm p-3 transition ease-in-out duration-300">Learn More</button>
                    </div>
                </div>
                <div class="col-span-4 flex items-center animate-fadeInLong">
                    <img src="{% static 'images/travel.png' %}" alt="">
                </div>
            </div>
            <span class="animate-bounce mt-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </span>
        </div>
    </section>

    <section id="features" class="h-screen" hx-get="{% url 'features' %}" hx-trigger="revealed">
        {% include 'partials/features.html' %}
    </section>

    <section id="faqs" class="h-screen" hx-get="{% url 'faqs' %}" hx-trigger="revealed">
        {% include 'partials/faqs.html' %}
    </section>

    <footer class="bg-gray-100 flex items-center justify-between h-16 py-5 px-10 text-gray-600">
        <div class="flex justify-between">
            <p class="mr-4">&copy; 2023 RailWizard</p>
        </div>
        <div class="flex justify-between">
            <ul class="flex">
                <li>
                    <a hx-get="{% url 'credits' %}" hx-target="body" hx-push-url="true" class="mr-5 hover:text-custom-50 hover:underline hover:cursor-pointer">Credits</a>
                </li>
                <li>
                    <a href="https://github.com/sc19jwh/COMP3931" target="_blank" class="hover:text-custom-50 hover:underline">GitHub</a>
                </li>
            </ul>
        </div>
    </footer>
    
</body>

{% endblock %}