{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="bg-white">

    <section class="bg-cover">
        <div class="h-screen flex flex-col mx-36">
            <nav class="h-16">
                <div class="flex justify-between items-center h-16">
                    <div class="flex items-center justify-center">
                        <!-- Hamburger button for mobile devices -->
                        <button _="on click toggle the *display of #mobile_menu" type="button" class="sm:hidden mr-2 p-2 text-gray-500 hover:text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#1F2937" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                        <!-- Logo -->
                        <img class="mr-7 h-7 w-auto hover:-rotate-12 hover:cursor-pointer" src="{% static 'images/logo.png' %}">
                        <!-- Main NavBar -->
                        <button _="on click go to the top of the body smoothly" class="hidden sm:flex text-sm font-semibold mr-4 text-gray-800 hover:border-b-2 hover:border-custom-50 px-3 py-5">Home</button>
                        <button _="on click go to the top of #welcome smoothly" class="hidden sm:flex text-sm font-semibold mr-4 text-gray-500 hover:text-gray-800 hover:border-b-2 hover:border-custom-50 px-3 py-5">Browse</button>
                    </div>
                </div>
                <!-- Dropdown menu for small devices -->
                <div class="sm:hidden font-semibold flex flex-col" id="mobile_menu" style="display: none;">
                    <button hx-get="{% url 'home' %}" hx-target="body" hx-push-url="true" class="mb-1 text-custom-50 px-5 py-2 text-left">Home</button>
                    <button class="mb-1 text-gray-500 hover:text-custom-50 px-5 py-2 text-left">Browse</button>
                    <button class="mb-1 text-gray-500 hover:text-custom-50 px-5 py-2 text-left">Trips</button>
                    <button hx-get="{% url 'currency' %}" hx-target="body" hx-push-url="true" class="mb-1 text-gray-500 hover:text-custom-50 px-5 py-2 text-left">Currency</button>
                    <button hx-get="{% url 'currency' %}" hx-target="body" hx-push-url="true" class="mb-1 text-gray-500 hover:text-custom-50 px-5 py-2 text-left">Credits</button>
                </div>
            </nav>
            <div class="flex-grow flex-col flex items-center justify-center">
                <div class="grid grid-cols-1 md:grid-cols-7 gap-x-16">
                    <div class="col-span-3">
                        <h1 class="animate-fadeInLong text-3xl md:text-4xl xl:text-5xl font-bold font-heading mb-12">Discover mentors that helps you grow</h1>
                        <p class="mb-11 text-lg text-gray-900 font-medium md:max-w-md">Get the best-in-class group mentoring plans and professional benefits for your team</p>
                        <div class="flex flex-row">
                            <button class="animate-slideInLeft px-7 py-3 mr-2 bg-custom-50 text-white font-medium text-sm rounded-md hover:bg-custom-100 shadow transition ease-in-out duration-300">GET STARTED</button>
                            <button _="on click go to the top of #faqs smoothly" class="animate-slideInRight px-7 py-3 text-custom-50 font-medium text-sm hover:text-custom-100 transition ease-in-out duration-300">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-span-4 flex items-center animate-fadeInLong">
                        <img src="{% static 'images/travel.png' %}" alt="">
                    </div>
                </div>
                <span class="animate-bounce mt-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span>
            </div>
        </div>
    </section>

    <section id="features" class="h-screen" hx-get="{% url 'features' %}" hx-trigger="revealed">
        {% include 'partials/features.html' %}
    </section>

    <section id="showcase1" class="h-screen" hx-get="{% url 'showcase1' %}" hx-trigger="revealed">
        {% include 'partials/showcase1.html' %}
    </section>

    <section id="faqs" class="h-screen" hx-get="{% url 'faqs' %}" hx-trigger="revealed">
        {% include 'partials/faqs.html' %}
    </section>

    <footer class="bg-gray-100 flex items-center justify-between h-16 py-5 px-10 text-gray-600">
        <div class="flex">
            <p class="mr-4">&copy; 2023 RailWizard</p>
        </div>
    </footer> 
    
</body>

{% endblock %}