{% extends "base.html" %}
{% load static %}
{% block content %}
  
<body class="bg-gray-100">
    <div class="flex justify-center">
        {% if user.is_authenticated %}
            <a href ="/profile" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-4">
                Profile
            </a>
            <a href = "/signout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-4">
                Sign Out
            </a>
        {% else %}
            <a href ="/register" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-4">
                Register
            </a>
            <a href = "/signin" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-4">
                Sign In
            </a>
        {% endif %}
    </div>
    <div class="w-1/2 mx-auto my-10 grid grid-cols-5 grid-rows-5">
        {% for country in countries %}
            <div class="col-span-1 row-span-1">
                <img src="https://flagcdn.com/h240/{{country.alpha2code}}.png" class="my-10 w-24 h-16 object-cover">
            </div>
        {% endfor %}
    </div>
</body>

{% endblock %}