{% extends "navbar.html" %}
{% load static %}
{% block mainbody %}

<h1 class="text-xl font-normal font-serif text-black mb-4">
    {{trip.title}}
</h1>

{% if outbound_flight %}
    <p class="mb-4 flex flex-row items-center font-medium text-custom-50">
        {{outbound_flight.departure_airport.iata_code}} -> {{outbound_flight.arrival_airport.iata_code}} ({{outbound_flight.duration}} minutes) - Time difference = {{outbound_flight.get_timezone_diff}}
    </p>
{% else %}
    {% if trip.destination_set.all|length >= 1 %}
        {% if current_date < first_destination.start_date %}
            <button hx-get="{% url 'add_flight' %}?flight_direction=outbound&trip_id={{trip.id}}" hx-target="body" hx-swap="beforeend" class="mb-4 flex flex-row items-center font-medium text-custom-50 hover:underline hover:text-custom-100">
                Configure outbound flight
            </button>
        {% else %}
            <button disabled class="mb-4 flex flex-row items-center font-medium text-custom-50 disabled:text-opacity-40">
                Configure flight not available
            </button>
        {% endif %}
    {% endif %}
{% endif %}

<button hx-get="{% url 'add_destination' %}?trip={{trip.id}}&next_order=1" hx-target="body" hx-swap="beforeend" class="text-center mt-4 mb-4 w-1/5 px-5 py-2 font-serif text-white bg-custom-50 hover:bg-custom-100 font-medium rounded-lg text-sm">Add a destination</button>

{% for destination in destinations %}
    <div class="items-center p-4 bg-white rounded-lg shadow w-3/4 font-serif">
        <div class="flex">
            <div class="w-1/6">
                <img src="{{destination.city.photo_url}}" class="my-2 h-2/3 object-cover object-center">
                <p>{{destination.test_field}}</p>
            </div>
            <div class="w-2/6 flex flex-row items-center">
                <img src="https://flagcdn.com/h240/{{destination.city.country.alpha2code}}.png" class="my-2 w-3 h-2 object-cover">
                <p class="text-lg font-medium ml-2">{{ destination.city.name }} ({{destination.order}})</p>
            </div>
            <div class="w-2/6 pl-4">
                <div class="flex flex-row items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#5F9595" class="bi bi-calendar-event" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                    <p class="text-sm text-gray-600 ml-2">{{ destination.start_date|date:"d M Y" }}</p>
                </div>
                <div class="flex flex-row items-center trans">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#5F9595" class="bi bi-calendar-week" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                    <p class="text-sm text-gray-600 ml-2">{{ destination.end_date|date:"d M Y" }}</p>
                </div>
            </div>
            <div class="w-1/6 flex justify-end items-center">
                <form class="text-center mt-6 w-1/5" hx-post="{{trip.id}}" hx-confirm="Are you sure you want to delete {{destination.city.name}} from your trip?" hx-target="body">
                    <!-- Invisible field to store trip id and identify which form -->
                    <input type="hidden" name="delete_destination_form" value="{{destination.id}}">
                    <button>
                        <svg class="hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#5F9595" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <button class="text-xs font-medium text-custom-50 hover:underline hover:text-custom-100" _="on click toggle the *display of the next <div/> on click toggle the *display of the next <button/> on click toggle the *display of me">
                See Hotel Information
            </button>
            <button style="display: none;" class="text-xs font-medium text-custom-50 hover:underline hover:text-custom-100" _="on click toggle the *display of the next <div/> on click toggle the *display of the previous <button/> on click toggle the *display of me">
                Hide Hotel Information
            </button>
        </div>
        <div id="hi" style="display: none;" class="flex items-center justify-center mt-4">
            {% with hotel=destination.hotel_set.first %}
                {% if hotel %}
                    <p>Hotel name: {{ hotel.name }}</p>
                    <p><a href="{{ hotel.hotel_url }}">Website</a></p>
                    {% for image in hotel.get_images %}
                        <img src="{{ image }}" class="w-10 h-auto">
                    {% endfor %}
                {% else %}
                    <button hx-indicator="#spinner" hx-get="{% url 'search_hotel' %}?destination_id={{destination.id}}" hx-target="body" hx-swap="beforeend" class="flex flex-row items-center font-medium text-custom-50 hover:underline hover:text-custom-100">
                        Search for hotels
                        <img style="width: 10px; height: 10px; padding-left: 2px;;" id="spinner" class="htmx-indicator" src="{% static 'images/loading.gif' %}"/>
                    </button>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <button hx-get="{% url 'add_destination' %}?trip={{trip.id}}&next_order={{destination.order|add:1}}" hx-target="body" hx-swap="beforeend" class="text-center mt-4 w-1/5 px-5 py-2 font-serif text-white bg-custom-50 hover:bg-custom-100 font-medium rounded-lg text-sm">Add a destination</button>
    <!-- Vertical line to connect to next destination -->
    {% if not forloop.last %}
        <div class="h-7 border-l border-gray-400"></div>
        {% if destination.departure_destination.all %}
            <div class="my-2 text-sm font-light text-gray-500 text-center font-serif">
                <button disabled class="flex flex-row items-center font-medium text-custom-50 hover:underline hover:text-custom-100">
                    Travel Already Configured
                </button>
            </div>
        {% else %}
            {% with next_id=forloop.counter|add:1 %}
                {% with next_destination=destinations|slice:":"|slice:next_id|last %}
                    <div class="my-2 text-sm font-light text-gray-500 text-center font-serif">
                        <button hx-indicator="#spinner" hx-get="{% url 'add_travel' %}?start={{destination.id}}&end={{next_destination.id}}" hx-target="body" hx-swap="beforeend" class="flex flex-row items-center font-medium text-custom-50 hover:underline hover:text-custom-100">
                            Configure
                            <img style="width: 10px; height: 10px; padding-left: 2px;;" id="spinner" class="htmx-indicator" src="{% static 'images/loading.gif' %}"/>
                        </button>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endif %}
        <div class="h-7 border-l border-gray-400"></div>
    {% endif %}
{% endfor %}

{% if inbound_flight %}
    <p class="mt-4 flex flex-row items-center font-medium text-custom-50">
        {{inbound_flight.departure_airport.iata_code}} -> {{inbound_flight.arrival_airport.iata_code}} ({{inbound_flight.duration}} minutes)
    </p>
{% else %}
    {% if trip.destination_set.all|length >= 1 %}
        {% if current_date < last_destination.end_date %}
            <button hx-get="{% url 'add_flight' %}?flight_direction=inbound&trip_id={{trip.id}}" hx-target="body" hx-swap="beforeend" class="mt-4 flex flex-row items-center font-medium text-custom-50 hover:underline hover:text-custom-100">
                Is this the end of the road? Configure inbound flight
            </button>
        {% else %}
            <button disabled class="mt-4 flex flex-row items-center font-medium text-custom-50 disabled:text-opacity-40">
                Configure flight not available
            </button>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock %}