
<!-- 
    URL: <username>/mytrips
    View: mytrips()
    Description: Summary dashboard that provides links to all user created trips (graphic shown if no trips
    have been created). User can configure trips (navigates to <username>/trip/<trip_id>) or create a new trip
    (raises GET request to partials/add_trip).
 -->

{% extends "navbar.html" %}
{% load static %}

{% block mainbody %}

<div style="display: none;" id="spinner" class="z-10 animate-fadeIn fixed top-0 bottom-0 left-0 right-0 bg-black bg-opacity-50 flex flex-col items-center justify-center h-screen w-screen">
    <!-- <div class="animate-zoomIn bg-white w-1/2 h-auto md:w-1/4 rounded-lg shadow flex items-center justify-center"> -->
        <img src="{% static 'images/spinners/round-spin.svg' %}" class="w-1/12 h-1/12">
    <!-- </div> -->
</div>

{% if middle == False %}

    <button _="on click toggle the *display of #spinner" hx-get="{% url 'add_trip' %}" hx-target="body" hx-swap="beforeend" class="mb-6 flex items-center text-center text-custom-50 hover:text-white border border-custom-50 hover:bg-custom-50 font-medium rounded-full text-base px-3 py-1.5 transition ease-in-out duration-300">
        Create New Trip
        <span class="ml-2">
            <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </span>
    </button>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
        {% for trip in trips %}
            <div class="mx-2.5 p-6 bg-white rounded-lg shadow hover:scale-105 transition ease-in-out duration-300">
                <div class="flex items-center mb-6 justify-between">
                    <div>
                         <p class="text-base font-bold">{{trip.title}}</p>
                    </div>
                    <div>
                        <form hx-post="mytrips" hx-confirm="Are you sure you want to delete your trip?" hx-target="body">
                            {% csrf_token %}
                            <!-- Invisible field to store trip id and identify which form -->
                            <input type="hidden" name="delete_trip_form" value="{{trip.id}}">
                            <button class="text-custom-50 hover:text-white border border-custom-50 hover:bg-custom-50 rounded-full p-1 transition ease-in-out duration-300 hover:cursor-pointer">
                                <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="flex items-center justify-between mb-6">
                    <div class="flex items-center">
                        <div class="py-2 px-3 flex items-center justify-center w-auto h-6 rounded-full text-xs font-medium {% if trip.days_away >= 0 %} bg-green-50 text-green-700 {% else %} bg-red-100 text-red-700 {% endif %}">{{trip.days_away_str}}</div>   
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <div class="flex items-center mb-3 text-gray-700">
                            <span class="mr-2">
                                <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                            </span>
                            <p class="text-xs">
                                {% if trip.destination_set.all|length > 0 %}
                                    {{trip.destination_set.first.city.name}}, {{trip.destination_set.first.country.name}}
                                {% else %}
                                    Not Configured
                                {% endif %}
                            </p>
                        </div>
                        <div class="flex items-center mb-6 text-gray-700">
                            <span class="mr-2">
                                <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                    <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                                </svg>
                            </span>
                            <p class="text-xs">
                                {% if trip.destination_set.all|length > 0 %}
                                    {{trip.destination_set.last.city.name}}, {{trip.destination_set.last.country.name}}
                                {% else %}
                                    Not Configured
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="flex items-center mb-3 text-gray-700">
                            <span class="mr-2">
                                <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                            </span>
                            <p class="text-xs">
                                {{trip.start_date|date:"D d M Y"}}
                            </p>
                        </div>
                        <div class="flex items-center mb-6 text-gray-700">
                            <span class="mr-2">
                                <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3-week" viewBox="0 0 16 16">
                                    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                    <path d="M12 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-5 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm2-3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-5 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                  </svg>
                            </span>
                            <p class="text-xs">
                                {% if trip.destination_set.all|length > 0 %}
                                    {{trip.destination_set.last.end_date|date:"D d M Y"}}
                                {% else %}
                                    Not Configured
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="flex flex-col items-center justify-center mb-6">
                    <button hx-get="{% url 'configtrip' username=user.username trip_id=trip.id %}" hx-target="body" hx-push-url="true" class="flex items-center text-center text-white bg-custom-50 hover:bg-custom-100 font-medium rounded-full text-sm px-3 py-1.5 transition ease-in-out duration-300">
                        Configure Trip
                        <span class="ml-2">
                            <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                            </svg>
                        </span>
                    </button>
                </div>

                <div class="flex items-center justify-center mb-3 text-gray-700">
                    <span class="mr-2">
                        <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-europe-africa" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM3.668 2.501l-.288.646a.847.847 0 0 0 1.479.815l.245-.368a.809.809 0 0 1 1.034-.275.809.809 0 0 0 .724 0l.261-.13a1 1 0 0 1 .775-.05l.984.34c.078.028.16.044.243.054.784.093.855.377.694.801-.155.41-.616.617-1.035.487l-.01-.003C8.274 4.663 7.748 4.5 6 4.5 4.8 4.5 3.5 5.62 3.5 7c0 1.96.826 2.166 1.696 2.382.46.115.935.233 1.304.618.449.467.393 1.181.339 1.877C6.755 12.96 6.674 14 8.5 14c1.75 0 3-3.5 3-4.5 0-.262.208-.468.444-.7.396-.392.87-.86.556-1.8-.097-.291-.396-.568-.641-.756-.174-.133-.207-.396-.052-.551a.333.333 0 0 1 .42-.042l1.085.724c.11.072.255.058.348-.035.15-.15.415-.083.489.117.16.43.445 1.05.849 1.357L15 8A7 7 0 1 1 3.668 2.501Z"/>
                        </svg>
                    </span>
                    <p class="text-xs">
                        {{trip.destination_set.all|length}} Destinations
                    </p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    {% if trip.destination_set.all|length == 0  %}
                        <button disabled class="text-xs disabled:text-gray-700 font-medium disabled:text-opacity-60">Trip Summary Not Available</button>
                    {% else %}
                        <button _="on click toggle the *display of #spinner" hx-get="{% url 'trip_summary' %}?trip_id={{trip.id}}" hx-target="body" hx-swap="beforeend" class="text-xs text-gray-700 font-medium hover:cursor-pointer hover:text-custom-50 hover:underline transition ease-in-out duration-300">View Trip Summary</button>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>

{% else %}

    <img src="{% static 'images/nothing-found2.png' %}" class="h-48 w-auto">

    <div class="text-center">
        <h1 class="text-lg md:text-xl xl:text-2xl font-bold font-heading mb-2">No Trips Were Found</h1>
        <p class="text-base text-gray-700 mb-6">Your trip dashboard is empty because you haven't created any trips yet.</p>
    </div>

    <button _="on click toggle the *display of #spinner" hx-get="{% url 'add_trip' %}" hx-target="body" hx-swap="beforeend" class="flex items-center text-center text-custom-50 hover:text-white border border-custom-50 hover:bg-custom-50 font-medium rounded-full text-base px-3 py-1.5 transition ease-in-out duration-300">
        Create Your First Trip
        <span class="ml-2">
            <!-- ATTRIBUTION: Obtained from Bootstrap icon library - https://icons.getbootstrap.com/ -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </span>
    </button>

{% endif %}

{% endblock %}