{% extends "base.html" %}
{% load static %}
{% block content %}
  
<body class="bg-gray-50">
    <div style="background-image: url('../../static/images/isostation.png');" class="bg-cover flex flex-col items-center justify-center h-screen">
        <a href="/" class="flex items-center mb-2">
            <img class="h-16" src="{% static 'images/logo.png' %}">
        </a>
        <h1 class="text-xl font-semibold  text-black mb-4">
            Your Profile
        </h1>
        <div class="w-full bg-white rounded-lg shadow-lg max-w-xs sm:max-w-md">
            <div class="p-7">
                <div class="grid grid-cols-3">
                    <div class="col-span-1 items-center">
                    <div class="relative">
                        {% if profile.image %}
                        <img class="rounded-full w-24 h-24 object-cover" src="data:image/jpeg;base64,{{ profile.image }}" alt="Profile Image">
                        {% else %}
                        <!-- ATTRIBUTION: No user image obtained from icon-libary.com - https://icon-library.com/images/no-user-image-icon/no-user-image-icon-27.jpg -->
                        <img class="rounded-full w-24 h-24 object-cover" src="{% static 'images/noprofilepic.jpg' %}" alt="Blank Profile Image">
                        {% endif %}
                        <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="file-input" class="absolute bottom-0 left-0 w-7 h-7 font-medium px-2 py-2 flex items-center hover:cursor-pointer text-gray-200 bg-custom-50 rounded-full transition ease-in-out hover:scale-105 hover:bg-custom-50 duration-300 delay-200">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </label>
                        <input type="file" id="file-input" name="photo" accept="image/*" onchange="this.form.submit()" class="hidden">
                        </form>
                    </div>
                    <p class="text-sm font-bold text-black mt-5">
                        {{profile.nationality}}
                    </p>
                    <img src="https://flagcdn.com/h240/{{profile.nationality.alpha2code}}.png" class="my-2 w-12 h-8 object-cover">             
                    </div>
                    <div class="col-span-2">
                    <p class="text-sm font-bold text-black">
                        First name:
                    </p>
                    <p class="text-sm font-light text-gray-500">
                        {{user.first_name}}
                    </p>
                    <p class="text-sm font-bold text-black">
                        Surname:
                    </p>
                    <p class="text-sm font-light text-gray-500">
                        {{user.last_name}}
                    </p>
                    <p class="text-sm font-bold text-black">
                        Username:
                    </p>
                    <p class="text-sm font-light text-gray-500">
                        {{user.username}}
                    </p>
                    <p class="text-sm font-bold text-black">
                        Email address:
                    </p>
                    <p class="text-sm font-light text-gray-500">
                        {{user.email}}
                    </p>
                    <p class="text-sm font-bold text-black">
                        Password:
                    </p>
                    <p class="text-sm font-light text-gray-500">
                        ************
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-xs text-gray-400 text-center mt-4">Background Image by MacroVector on FreePik</p>
    </div>
</body>

{% endblock %}