{% extends "../navbar.html" %}
{% load static %}
{% block mainbody %}

<div class="w-full bg-white rounded-lg shadow-lg max-w-xs sm:max-w-2xl">
    <div class="p-7">
        <div class="flex justify-center">
            <h1 class="text-xl font-normal font-serif text-black mb-4">
                Convert Currency
            </h1>
        </div>
        <div class="grid grid-cols-2 justify-center">
            <div class="px-5">
                <div class="flex justify-center">
                    <h1 class="text-md font-normal font-serif text-black mb-2">
                        Start Currency:
                    </h1>
                </div>
                <div id = "flag1">
                    <img src="https://flagcdn.com/h240/{{profile.nationality.alpha2code}}.png" class="mb-4 w-24 h-16 object-cover mx-auto">
                </div>
                <select hx-get="{% url 'set_country_flag' %}"hx-trigger="change" hx-target="#flag1" class="text-center font-serif bg-gray-50 border border-gray-300 text-black text-sm rounded-lg block w-full p-2 mb-4" name="country">
                    {% for country in countries %}
                      <option value="{{ country.pk }}" {% if country.pk == profile.nationality.pk %} selected {% endif %}>{{ country.name }} - {{ country.currency }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="px-5">
                <div class="flex justify-center">
                    <h1 class="text-md font-normal font-serif text-black mb-2">
                        Result Currency:
                    </h1>
                </div>
                <div id = "flag2">
                    <img src="https://flagcdn.com/h240/{{profile.nationality.alpha2code}}.png" class="mb-4 w-24 h-16 object-cover mx-auto">
                </div>
                <select hx-get="{% url 'set_country_flag' %}" hx-trigger="change" hx-target="#flag2" class="text-center font-serif bg-gray-50 border border-gray-300 text-black text-sm rounded-lg block w-full p-2 mb-4" name="country2">
                    {% for country in countries %}
                        <option value="{{ country.pk }}" {% if country.pk == profile.nationality.pk %} selected {% endif %}>{{ country.name }} - {{ country.currency }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="flex justify-center mt-4">
            <button hx-get="{% url 'currency_conversion' %}" hx-target="#conversion">Send Request</button>
        </div>
        <div id="conversion" class="flex justify-center mt-4">
            <h1 class="text-xl font-normal font-serif text-black">
                1.00 MAD = 1.00 MAD
            </h1>
        </div>
    </div>
</div>

{% endblock %}