{% extends "popup.html" %}
{% load static %}
{% block mainbody %}

<div class="justify-center grid grid-cols-1 md:grid-cols-2 gap-5">
    <div _="on click remove #container" hx-get="{% url 'search_flight' %}?trip_id={{trip_id}}&flight_direction={{flight_direction}}" hx-target="body" hx-swap="beforeend" class="flex flex-col items-center justify-center hover:scale-105 transition ease-in-out duration-300 hover:cursor-pointer">
        <img class="w-1/2 h-auto" src="{% static 'images/search.png' %}">
        <button id="search-button" class="mt-4 flex flex-row items-center font-medium text-custom-50 hover:text-custom-100">
            Search for flights
        </button>
    </div>
    <div _="on click remove #container" hx-get="{% url 'enter_flight' %}?trip_id={{trip_id}}&flight_direction={{flight_direction}}" hx-target="body" hx-swap="beforeend" class="h-max flex flex-col items-center justify-center hover:scale-105 transition ease-in-out duration-300 hover:cursor-pointer">
        <img class="w-1/2 h-auto" src="{% static 'images/booked.png' %}">
        <button id="search-button" class="mt-4 flex flex-row items-center font-medium text-custom-50 hover:text-custom-100">
            Enter your pre-booked flight
        </button>
    </div>
</div>

{% endblock %}